body {
   background-color: rgb(217 80 109);
   padding: 0;
   margin: 0;
   display: unset;
   color: white;
   font-family: 'ArialRounded', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
   font-weight: 300;
}

.title {
   font-size: larger;
   display: unset;
   margin-block: 0;
   padding: 1.6rem;
   background-color: rgba(255, 255, 255, 0.316);
}

.container {
   text-align: center;
   display: flex;
   flex-direction: column;
   gap: 1rem;

}

.time-container {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   padding: 0 15px;
   margin: 0 1.5rem;
}

.time-converter {
   background-color: rgba(255, 255, 255, 0.1);
   box-shadow: 0 3px 24px rgb(0 0 0 / 8%);
   border-radius: 4px;
   padding: 20px;
}

.timezone,
.date {
   background-color: #fff;
   color: rgb(217 80 109);
   padding: 10px;
}

.timezone {
   font-size: 1.38rem;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
}

.time {
   font-size: 3.25rem;
   border: 1px solid #dedede;
}

.date {
   font-size: 1.2rem;
   border-bottom-left-radius: 3px;
   border-bottom-right-radius: 3px;
}
